# exNoShadez-EAS for Pixel/Pixel XL by Nine7nine <johnstonljordan@gmail.com>

on init

    # Boost sched_cfs_boost on boot
    write /proc/sys/kernel/sched_cfs_boost 90

    # set UI / Render Threads SCHED_FIFO
    setprop sys.use_fifo_ui 1	

on boot 

    # devfreq_set.sh
service devfreq_set /system/devfreq_set.sh
    class main
    user root
    group root
    oneshot

on property:dev.bootcomplete=1

    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m

    # gpu
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq

    # Set idle GPU to 133 Mhz
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6

    # USB Fast Charge
    write /sys/kernel/fast_charge/force_fast_charge 1

    # Set RCU stall timeout to minimal value
    write /sys/module/rcupdate/parameters/rcu_cpu_stall_timeout 3

    # WiFi Mac Address Randomization / Don't set let user set this.
    # but keep for ref.	
    # write /proc/sys/dev/cnss/randomize_mac 1

    # Entropy Pool /dev/random
    write /proc/sys/kernel/random/poolsize 4096
    write /proc/sys/kernel/random/read_wakeup_threshold 128
    write /proc/sys/kernel/random/write_wakeup_threshold 2048

    # IO Tweaks
    write /sys/block/sda/queue/rq_affinity 2

    # Set Schedutil Cpu Governor on Big.Little Cores
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor schedutil
    # echo 500 > /sys/devices/system/cpu/cpufreq/policy0/schedutil/up_rate_limit_us
    # echo 2000 > /sys/devices/system/cpu/cpufreq/policy0/schedutil/down_rate_limit_us

    # schedTune value for foreground/top-app on boot
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Set Top-App Boost to ZERO	(not needed using PowerHal not DTS)
    # write /dev/stune/top-app/schedtune.boost 0

    # Cpu-boot / Dynamic Stune Boost
    # write /sys/module/cpu_boost/parameters/dynamic_stune_boost 15
    # Cpu-boost Input boosting 
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1363200 1:0 2:1900800 3:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100

    # Reset sched_cfs_boost (after boot / at end)
    write /proc/sys/kernel/sched_cfs_boost 0

    # GoodBye!
