# exNoShadez-EAS for Pixel/Pixel XL by Nine7nine <johnstonljordan@gmail.com>

on init

    # disable perfd = We use Dynamic Stune boost [in kernel], 
    # not Power Hal [in Userspace] which relies on Perfd.
    # AKA: No Power Hal hints!
    stop perfd

    # Boost sched_cfs_boost on boot
    write /proc/sys/kernel/sched_cfs_boost 70

on boot 

    # devfreq_set.sh
service devfreq_set /system/devfreq_set.sh
    class main
    user root
    group root
    oneshot

on property:dev.bootcomplete=1

#    setprop setprop audio_hal.period_size 384
#    setprop audio.offload.buffer.size.kb 64
#    setprop audio.offload.passthrough true	
#    setprop audio.offload.pcm.24bit.enable true
#    setprop audio_hal.period_multiplier 2

    # USB Fast Charge
    write /sys/kernel/fast_charge/force_fast_charge 1

    # Set RCU stall timeout to minimal value
    write /sys/module/rcupdate/parameters/rcu_cpu_stall_timeout 3

    # WiFi Mac Address Randomization
    write /proc/sys/dev/cnss/randomize_mac 1

    # Entropy Pool /dev/random
    write /proc/sys/kernel/random/poolsize 4096
    write /proc/sys/kernel/random/read_wakeup_threshold 128
    write /proc/sys/kernel/random/write_wakeup_threshold 2048

    # IO Tweaks
    write /sys/block/sda/queue/rq_affinity 2

    # Set Schedutil Cpu Governor on Big.Little Cores
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor schedutil

    # Reset sched_cfs_boost (we only want top-app boosted)
    write /proc/sys/kernel/sched_cfs_boost 0

    # schedTune value for foreground/top-app on boot
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Set Top-App Boost to ZERO	
    write /dev/stune/top-app/schedtune.boost 0

    # Cpu-boot / Dynamic Stune Boost
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 15
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500

    # GoodBye!
